<div class="vertical stretch">
  <!--  <google-map #map [options]="options" class="map stretch">
      <map-marker #marker="mapMarker"
                  *ngFor="let marker of markers"
                  [position]="marker.position"
                  [title]="marker.title"
                  [options]="markerOptions"
                  (mapClick)="selectMarker(marker)">

      </map-marker>
      <map-info-window  class="map-info-window" [position]="selectedMarker.position" [title]="selectedMarker.title" (closeclick)="infoWindowVisibilityChanged()"                    #markerInfoWindow>Info Window content
      </map-info-window>
    </google-map>-->
  <!--  <google-map height="87.5vh" width="100%" #map [options]="options" class="map stretch">
      <map-marker #marker="mapMarker"
                  *ngFor="let marker of markers"
                  [position]="marker.position"
                  [label]="marker.label"
                  [title]="marker.title"
                  [options]="markerOptions"
                  (mapClick)="selectMarker(marker)">

      </map-marker>
      <map-info-window>MyContent</map-info-window>
    </google-map>-->
  <div id="map" #map>
  </div>
  <!--<button id="close" type="button" ><i class="icon fa fa-times"></i></button>-->
</div>
