#maxItemsLabel {
  min-width: 8em;
  max-width: 8em;
}

#sortOrderLabel {
  min-width: 6em;
  max-width: 6em;
}

#displayStyleLabel {
  min-width: 3.5em;
  width: 3.5em;
}

#sortOrder {
  min-width: 10em;
}

